# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Zookeeper (JavaScript)/*
!/Zookeeper (JavaScript)/task/
/Zookeeper (JavaScript)/task/*
!/Zookeeper (JavaScript)/task/main.js
